body {
    background-color: #d9d9d9;
}
table {
    width: 20%;
    border: none;
    margin-bottom: 20px;
}

table thead th {
    font-size: 16px;
    text-align: left;
    color: #444441;
}
table tbody td {
    padding: 10px;
    font-size: 14px;
    color: #444441;
}
h2 {
    font-family: Courier;
    color: #0E4A7A;
}
button {
    margin: 2px 0 0 2px;
    width: 120px;
    height: 25px;
    border: solid #09090900 1px;
    border-radius: 5px;
    background-color: #538BB8;
    color: white;
}
